@font-face {
    font-family: "lango";
    src: url("https://cdn.jsdelivr.net/gh/oskarpetr/lango-icons/assets/lango.ttf") format("truetype");
}

i[class^="la-"]:before,
i[class*=" la-"]:before {
    font-family: lango !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.la-lango-logo:before {
    content: "\f101";
}